#!/usr/bin/bash

source /keystonerc_admin
/usr/bin/storage.sh
/usr/bin/ring.sh
chown -R swift.swift /srv/node/*
swift-container-server /etc/swift/container-server.conf  > /var/log/swift/container-server.log 2>&1 &
swift-account-server /etc/swift/account-server.conf  > /var/log/swift/account-server.log 2>&1 &
swift-object-server /etc/swift/object-server.conf > /var/log/swift/object-server.log 2>&1 
