#!/usr/bin/bash

source /keystonerc_admin
openstack project create --description "Service Project" services
openstack service create  --name swift --description "Swift Object Service" object-store
openstack endpoint create --region {{ common.region }} --publicurl '{{ swift_public_url }}' --internalurl '{{ swift_internal_url }}' --adminurl '{{ swift_admin_url }}' object-store
openstack user create --password {{ swift.password }} swift
openstack role add --project services --user swift admin
/usr/bin/ring.sh
chown -R root.swift /etc/swift
swift-proxy-server /etc/swift/proxy-server.conf  > /var/log/swift/proxy-server.log 2>&1
