#!/usr/bin/bash

# run command
modprobe openvswitch bridge
echo 1 > /sys/net/ipv4/ip_forward
echo 0 > /sys/net/ipv4/conf/all/rp_filter
echo 0 > /sys/net/ipv4/conf/default/rp_filter
echo 1 > /sys/net/bridge/bridge-nf-call-arptables
echo 1 > /sys/net/bridge/bridge-nf-call-iptables
echo 1 > /sys/net/bridge/bridge-nf-call-ip6tables
/usr/share/openvswitch/scripts/ovs-ctl start
ovs-vsctl add-br br-int
ovs-vsctl add-br br-tun

{% if neutron.bridge_mappings is defined %}
{% for bridge in neutron.bridge_mappings.split(',') | map('regex_replace', '.*:(.*)', '\\1') | list %}
ovs-vsctl add-br {{ bridge }}
{% endfor %}
{% endif %}


{% if neutron.bridge_ifaces is defined %}
{% for bridge_iface in neutron.bridge_ifaces.split(',') %}
ovs-vsctl add-port {{ item | regex_replace('(.*):.*', '\\1') }} {{ item | regex_replace('.*:(.*)', '\\1') }}
{% endfor %}
{% endif %}

{% if version == 'kilo' and plugin_ini is not defined %}
ln -s /etc/neutron/plugins/openvswitch/ovs_neutron_plugin.ini /etc/neutron/plugin.ini
sed -i --follow-symlinks "s/.*local_ip.*/local_ip = `hostname -I`/" /etc/neutron/plugin.ini
neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini >/var/log/neutron/neutron-openvswitch-agent.log  2>&1 &
{% endif %}

{% if version != 'kilo' and plugin_ini is not defined %}
ln -s /etc/neutron/plugins/ml2/openvswitch_agent.ini /etc/neutron/plugin.ini
sed -i --follow-symlinks "s/.*local_ip.*/local_ip = `hostname -I`/" /etc/neutron/plugin.ini
neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini >/var/log/neutron/neutron-openvswitch-agent.log  2>&1 &
{% endif %}

#nova compute
libvirtd > /var/log/libvirt/libvirt.log 2>&1 &
virtlogd > /var/log/libvirt/virtlogd.log 2>&1 &
sed -i "s/.*sysinfo_serial=.*/sysinfo_serial=none/" /etc/nova/nova.conf
sed -i --follow-symlinks "s/.*vncserver_proxyclient_address.*/vncserver_proxyclient_address = `hostname -I`/" /etc/nova/nova.conf
nova-compute --config-file=/etc/nova/nova.conf
