#!/usr/bin/bash

# bootstrap db
mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -e "use {{ component }} ;"
if [ "$?" != "0" ] ; then
  mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -e "create database {{ component }} ;"
  mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -e "GRANT ALL PRIVILEGES ON {{ component }}.* TO '{{ vars[component]['dbuser'] }}'@'%' identified by '{{ vars[component]['dbpassword'] }}' ;"
  su - keystone -s /bin/bash -c 'keystone-manage db_sync'
  keystone-manage bootstrap --bootstrap-password {{ keystone.admin_password }} --bootstrap-admin-url '{{ keystone_admin_url }}' --bootstrap-internal-url '{{ keystone_internal_url }}' --bootstrap-public-url '{{ keystone_public_url }}' --bootstrap-region-id {{ common.region }}
fi

# run command
httpd -D FOREGROUND
