#!/usr/bin/bash

# run command
/usr/share/openvswitch/scripts/ovs-ctl start
ovs-vsctl add-br br-int
ovs-vsctl add-br br-tun

{% if neutron.bridge_mappings is defined %}
{% for bridge in neutron.bridge_mappings.split(',') | map('regex_replace', '.*:(.*)', '\\1') | list %}
ovs-vsctl add-br {{ bridge }}
{% endfor %}
{% endif %}


{% if neutron.bridge_ifaces is defined %}
{% for bridge_iface in neutron.bridge_ifaces.split(',') %}
ovs-vsctl add-port {{ item | regex_replace('(.*):.*', '\\1') }} {{ item | regex_replace('.*:(.*)', '\\1') }}
{% endfor %}
{% endif %}

{% if version == 'kilo' and plugin_ini is not defined %}
ln -s /etc/neutron/plugins/openvswitch/ovs_neutron_plugin.ini /etc/neutron/plugin.ini
sed -i --follow-symlinks "s/MYIP/`hostname -I`/" /etc/neutron/plugin.ini
neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini >/var/log/neutron/neutron-openvswitch-agent.log  2>&1 &
{% endif %}

{% if version != 'kilo' and plugin_ini is not defined %}
ln -s /etc/neutron/plugins/ml2/openvswitch_agent.ini /etc/neutron/plugin.ini
sed -i --follow-symlinks "s/MYIP/`hostname -I`/" /etc/neutron/plugin.ini
neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini >/var/log/neutron/neutron-openvswitch-agent.log  2>&1 &
{% endif %}

neutron-dhcp-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/dhcp_agent.ini >/var/log/neutron/dhcp.log  2>&1 &
neutron-metadata-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/metadata_agent.ini >/var/log/neutron/metadata.log  2>&1 &
neutron-l3-agent --config-file /etc/neutron/l3_agent.ini --config-file /etc/neutron/neutron.conf
