#!/usr/bin/bash

# bootstrap
mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -e "use {{ component }} ;"
EXIST="$?"
TABLES=`mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -s --skip-column-names -e "SELECT COUNT(DISTINCT table_name) FROM information_schema.columns WHERE table_schema = '{{ component }}' ;"`
if [ "$EXIST" != "0" ] || [ "$TABLES" == "0" ] ; then
  mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -e "create database {{ component }} ;"
  mysql -h{{ common.mysql_host }} -u root -p{{ common.mysql_password }} -e "GRANT ALL PRIVILEGES ON {{ component }}.* TO '{{ vars[component]['dbuser'] }}'@'%' identified by '{{ vars[component]['dbpassword'] }}' ;"
  su - glance -s /bin/bash -c 'glance-manage db_sync'
  source /keystonerc_admin
  openstack project create --description "Service Project" services
  openstack service create  --name glance --description "Openstack Image Service" image
  openstack endpoint create --region {{ common.region }} --publicurl '{{ glance_public_url }}' --internalurl '{{ glance_internal_url }}' --adminurl '{{ glance_admin_url }}' image
  openstack user create --password {{ glance.password }} glance
  openstack role add --project services --user glance admin
fi

# run command
glance-registry &
sleep 5
glance-api
